@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark, winter, cupcake, emerald, lofi, retro, cyberpunk, valentine, business, acid, luxury, dracula, fantasy, garden, forest, aqua, coffee, pastel, wireframe, black, corporate;
    root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true;
}
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #10509B;
        /* --color-primary: hsl(195, 100%, 25%); */
    --color-secondary: #DC5435;
}
@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    --color-primary: #10509B;
        /* --color-primary: hsl(195, 100%, 25%); */
    --color-secondary: hsl(30, 100%, 35%);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

@theme {
    --breakpoint-xs: 360px;
}

@keyframes fade-it-in {
	from {
		opacity: 0;
		transform: translateY(8px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fade-it-in {
	animation: fade-it-in 0.3s ease-in;
}
