@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark, winter, cupcake, emerald, lofi, retro, cyberpunk, valentine, business, acid, luxury, dracula, fantasy, garden, forest, aqua, coffee, pastel, wireframe, black, corporate;
    root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true;
}
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #10509B;
        /* --color-primary: hsl(195, 100%, 25%); */
    /* --color-secondary: #FF6924; */
    --color-secondary: #D14200;
}
@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    --color-primary: #10509B;
        /* --color-primary: hsl(195, 100%, 25%); */
    --color-secondary: #FF5100;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

@theme {
    --breakpoint-xs: 360px;
}

@keyframes fade-it-in {
	from {
		opacity: 0;
		transform: translateY(8px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

body.overflow-hidden {
	overflow: hidden;
    padding-right: 0.75rem; /* adjust as needed */

}

.animate-fade-it-in {
	animation: fade-it-in 0.3s ease-in;
}

.fill-primary {
	fill: var(--tw-color-primary);
}

.fill-secondary {
	fill: var(--tw-color-secondary);
}

.brand-check {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem; /* Matches text size */
    height: 1.25rem;
    /* Brand blue: adjust hex code if needed */
    color: var(--color-primary);
    flex-shrink: 0;
}