---
import BaseLayout from '../../layouts/BaseLayout.astro';

const metadata = {
	title: `Thanks! Your quote request is confirmed.`,
	description: `We’ll reach out soon to schedule a quick video call and confirm installation details.`,
	robots: {
		index: false,
		follow: false,
	},
}
---

<BaseLayout metadata={metadata}>
	<section class="flex items-center p-8 m16-32">
		<div class="container max-w-3xl mx-auto text-center">
			<h1 class="text-3xl md:text-4xl font-bold text-primary mb-6">
				Got it!
			</h1>

			<p class="text-lg md:text-xl text-gray-700 mb-6">
				We’ve received your request to confirm pricing for a water heater replacement.
			</p>

            <p class="text-lg md:text-xl text-gray-700 mb-6">
				A technician will be in touch soon to schedule a quick <strong>video call</strong>. This call will confirm a few installation details and provide your final price. (Free in-person checks are also available if needed.)
			</p>


            <p class="text-lg md:text-xl text-gray-700 mb-6">
				If it’s currently outside regular business hours, we’ll reach out first thing in the morning, Monday–Friday.
			</p>


			<div class="text-left bg-gray-100 p-6 rounded-xl mb-6 shadow-sm text-gray-800">
				<h2 class="text-xl font-semibold mb-2 text-primary">Here’s what we’ll need to see on the video call:</h2>
				<ul class="list-disc list-inside space-y-1">
					<li>Your current water heater and its utility connections</li>
					<li>Surrounding access space</li>
                    <li>Drain location if applicable</li>
					<li>Exterior chimney if applicable</li>
				</ul>
			</div>

			<p class="text-gray-700 text-lg mb-6">
				No sales pressure. No upsells. Just clear planning and answers to your questions so you can get hot water back — fast.
			</p>

			<p class="text-lg text-gray-600">
				Questions? Call us anytime at
				<a href="tel:616-315-0999" class="underline text-primary font-medium text-nowrap">616-315-0999</a>.
			</p>
		</div>
	</section>
</BaseLayout>
