---
import BaseLayout from '../layouts/BaseLayout.astro';

const metadata = {
  title: `Oops! - This isn't ready yet...`,
  description: `Sorry, this page is still in the oven. But dont worry, our phones work! :)`,
  robots: {
    index: false,
    follow: false,
  },
}
---

<BaseLayout metadata={metadata}>
  <section class="flex items-center h-full p-2 pt-8">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <span class="mb-8 text-center text-primary">Oops! We're still working on this page, but our phone is on!</span>
      <p class="text-2xl text-center text-primary">Call <a aria-label="call 616-315-0979" href="tel:616-315-0979" class="underline">616-315-0979</a></p>
      <p class="text-2xl text-center text-primary mb-8">to chat about pricing and how we relieve your web burden so you can grow your business.</p>
      <span class="mb-8 text-center text-primary">See our Client Case Studies for more details.</span>
      <span class="w-72 mb-4 text-center text-primary">You know how it is, always working on your customers' stuff, its hard to find time for your own.  :)</span>
      <h2 class="mb-8 font-bold text-6xl">
        <span class="sr-only">Error</span>
        <span class="text-primary">404</span>
      </h2>
</div>
  </section>
</BaseLayout>
