
<footer class="bg-base-200 text-base-content border-t border-base-300 py-12">
	<div class="max-w-6xl mx-auto px-6 grid grid-cols-1 md:grid-cols-3 gap-10 text-sm">
		<div>
			<h3 class="font-semibold mb-4">Water Heater Replacement Company of Grand Rapids</h3>
			<p class="mb-2 max-w-xs">
				We specialize in fast, affordable water heater replacements for homeowners across West Michigan.
			</p>
			<p class="text-xs text-base-content/70">© {new Date().getFullYear()} <a target="_blank" href="https://launchwebdesignandmarketing.com" class="underline">Launch Web Design & Marketing</a>. All rights reserved.</p>
		</div>

		<div>
			<h4 class="font-semibold mb-4">Pages</h4>
			<ul class="space-y-2">
				<li><a class="link link-hover" href="/">Home</a></li>
				<!-- <li><a class="link link-hover" href="/#frustrated-with-the-process">Frustrated With the Process?</a></li>
				<li><a class="link link-hover" href="/#how-we-do-it-differently">We Do It Differently</a></li> -->
				<li><a class="link link-hover" href="/pricing">Water Heater Pricing</a></li>
				<li>
					<p class="pointer-events-none" aria-label="parent">Products</p>
					<ul class="p-2">
						<li>
							<a aria-label="Tank Water Heaters" href="/products/tank-water-heaters/">Standard Tank Water Heaters</a>
						</li>
						<li>
							<a aria-label="Power Vent Water Heaters" href="/products/power-vent-water-heaters/">Power Vent Water Heaters</a>
						</li>
						<li>
							<a aria-label="Tankless Water Heaters" href="/products/tankless-water-heaters/">Tankless Water Heaters</a>
						</li>
						<li>
							<a aria-label="Heat Pump Water Heaters" href="/products/heat-pump-water-heaters/">Heat Pump Water Heaters</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div>
			<h4 class="font-semibold mb-4">Get in Touch</h4>
			<ul class="space-y-2">
				<li><a class="link link-hover break-words whitespace-normal" href="mailto:service@waterheaterreplacementcompany.com">service@WaterHeaterReplacementCompany.com</a></li>
				<li><a class="link link-hover" href="tel:+1-616-315-0999">(616) 315-0999</a></li>
				<li><a class="link link-hover" href="/contact">Start a Project →</a></li>
			</ul>
		</div>
	</div>
</footer>
