---
import FindWaterHeaterQuiz from './FindWaterHeaterQuiz';
import PriceReceipt from './icons/PriceReceipt.astro';
import Phone from './icons/Phone.astro';
import CalendarClock from './icons/CalendarClock.astro';

---
<section
    class="
		bg-[url('/images/heroBgMobile.webp')]
		sm:bg-[url('/images/heroBgDesktop.webp')]
		bg-cover
		bg-left
		bg-no-repeat
		text-base-content
		sm:bg-fixed
	"
>
    <div class="h-full bg-white/90 pb-6">
        <div class="
            flex
            flex-col
            max-w-5xl
            mx-auto
            py-6
            xs:pt-12
            xs:pb-10
            md:py-20
            text-base-content
            text-center
            "
        >
            <div id="hero-section" class="p-4 flex flex-col flex-shrink-0 rounded-lg">
	<h1 class="text-xl xs:text-2xl sm:text-4xl font-bold leading-tight mb-3">
		Need your Water Heater Replaced Fast?
	</h1>

	<p class="text-xl xs:text-2xl sm:text-4xl font-semibold leading-tight mb-3">
		Get your instant quote now. <br> Appointments as soon as today.
	</p>

	<p class="text-xl xs:text-2xl sm:text-4xl font-semibold leading-tight">
		Tanks: <span class="text-primary">from $1,595 installed</span>
	</p>
	<p class="text-xl xs:text-2xl sm:text-4xl font-semibold leading-tight mb-4">
		Tankless: <span class="text-primary">from $3,495 installed</span>
	</p>

	<p class="font-semibold xs:text-md sm:text-2xl leading-tight sm:max-w-2xl max-w-3xl mb-4 mx-auto">
		No in-home sales visit needed. No commission-based techs. Just transparent pricing and fast scheduling for what you need.
	</p>

	<p class="sm:text-2xl leading-tight sm:max-w-2xl max-w-3xl mx-auto mb-6">
		Fast • Fair • No Commissions
	</p>

	<a href="/instant-quote/?step=1" class="btn btn-primary text-lg text-white py-2 w-64 max-w-xs mx-auto mb-4">
		<PriceReceipt />
		<p>Get My Instant Quote</p>
	</a>

	<a href="tel:616-315-0999" class="btn btn-outline text-lg bg-white/50 text-black py-2 w-64 max-w-xs mx-auto mb-4 shadow-sm">
		<Phone />
		<p>Talk to a Pro</p>
	</a>

	<p class="text-sm opacity-70 mt-2">
		Them: high-pressure sales. Us: your price upfront.
	</p>

                <!-- <a aria-label="Book Now" href="/pricing/" class="btn btn-outline text-lg bg-white/50 text-black py-2 w-64 max-w-xs mx-auto mb-4 shadow-sm">
                    <CalendarClock />
                    <p>Ready To Schedule?</p>
                </a> -->
            </div>
        </div>
        <div class="px-4 text-base-content text-center">
            <div id="instant-quote" class="mx-auto max-w-5xl mb-16 lg:mb-64">
                <FindWaterHeaterQuiz  client:only />
            </div>
            <!-- <p class="hidden lg:block mt-4 text-sm text-gray-400 max-w-sm mx-auto">
                Scroll down to see how it works.
            </p> -->
        </div>
    </div>
</section>