---
import FindWaterHeaterQuiz from './FindWaterHeaterQuiz';
import PriceReceipt from './icons/PriceReceipt.astro';
import Phone from './icons/Phone.astro';
import CalendarClock from './icons/CalendarClock.astro';

---
<section
    class="
		bg-[url('/images/heroBgMobile.webp')]
		sm:bg-[url('/images/heroBgDesktop.webp')]
		bg-cover
		bg-left
		bg-no-repeat
		text-base-content
		sm:bg-fixed
	"
>
    <div class="h-full bg-white/90 pb-6">
        <div class="
            flex
            flex-col
            max-w-5xl
            mx-auto
            py-6
            xs:pt-8
            xs:pb-0
            md:py-20
            text-base-content
            text-center
            "
        >
            <div id="hero-section" class="p-4 flex flex-col flex-shrink-0 rounded-lg">
				<h1 class="text-xl xs:text-2xl sm:text-4xl font-bold leading-tight mb-2">
					Tired of Waiting on a Salesman For a Water Heater Replacement Price?
				</h1>
				<p class="text-lg sm:text-2xl mb-4">
					Skip the sales visit. Get an <span class="font-bold text-primary">Exact Installed Price</span> in 30 seconds.
				</p>

				<a  href="/instant-quote/?step=1" class="btn btn-primary text-lg text-white py-2 w-72 max-w-xs mx-auto mb-2">
					<PriceReceipt />
					<p>Get My Instant Quote Now</p>
				</a>
				<p class="text-xs sm:text-sm opacity-75 mb-8">
					All-Inclusive • No Surprise Fees • Same-Day Service
				</p>

				<ul class="text-left mx-auto pr-2 mb-8">
					<p class="font-semibold sm:text-2xl mb-">
						Why Choose Us?
					</p>
					<li class="sm:text-2xl leading-tight sm:max-w-2xl max-w-3xl mx-auto">
						• Locally Owned
					</li>
					<li class="sm:text-2xl leading-tight sm:max-w-2xl max-w-3xl mx-auto">
						• No Commissions
					</li>
					<li class="sm:text-2xl leading-tight sm:max-w-2xl max-w-3xl mx-auto">
						• Price Lock Guarantee
					</li>
					<li class="sm:text-2xl leading-tight sm:max-w-2xl max-w-3xl mx-auto">
						• 2-Year Labor Warranties
					</li>
					<li class="sm:text-2xl leading-tight sm:max-w-2xl max-w-3xl mx-auto">
						• Same-Day & Next-Day Installs
					</li>
					<li class="sm:text-2xl leading-tight sm:max-w-2xl max-w-3xl mx-auto">
						• Licensed & Insured West Michigan Pros
					</li>
				</ul>

				<p class="mb-2 sm:text-2xl leading-tight sm:max-w-2xl max-w-3xl mx-auto">Speak to a water heater specialist now.</p>
				<a href="tel:616-315-0999" class="btn btn-primary text-lg text-white py-2 w-72 max-w-xs mx-auto mb-4">
					<Phone />
					<p>616-315-0999</p>
				</a>

				<!-- <a aria-label="Book Now" href="/pricing/" class="btn btn-outline text-lg bg-white/50 text-black py-2 w-72 max-w-xs mx-auto mb-4 shadow-sm">
					<CalendarClock />
					<p>Ready To Schedule?</p>
				</a> -->
            </div>
        </div>
        <div class="px-4 text-base-content text-center">
            <div id="instant-quote" class="mx-auto max-w-5xl mb-16 lg:mb-64">
                <FindWaterHeaterQuiz  client:only />
            </div>
            <!-- <p class="hidden lg:block mt-4 text-sm text-gray-400 max-w-sm mx-auto">
                Scroll down to see how it works.
            </p> -->
        </div>
    </div>
</section>