---
import ArrowDownIcon from './icons/ArrowDown.astro';
import MagnifyingGlass from './icons/MagnifyingGlass.astro';
---
<section class="py-20 px-6 bg-base-100 text-base-content text-center">
	<div class="max-w-4xl mx-auto">
		<h2 class="text-4xl sm:text-5xl font-bold ">How It Works</h2>
		<h3 class="text-2xl sm:text-3xl mb-12">4 Easy Steps</h3>
		<div class="grid gap-6 text-left">
			<div class="card shadow-md border border-base-300 bg-base-100 p-6">
				<h4 class="text-3xl font-bold text-primary mb-4">Step 1</h4>
				<h5 class="text-xl font-semibold mb-2">Tell Us About Your Setup</h5>
				<p class="mb-2">Answer a few quick questions about your current water heater, household size, and hot water habits.</p>
                <p>We don’t store your answers — it’s just to help guide your match.</p>
			</div>
            <ArrowDownIcon class="h-8 w-full text-primary" />
			<div class="card shadow-md border border-base-300 bg-base-100 p-6">
				<h4 class="text-3xl font-bold text-primary mb-4">Step 2</h4>
				<h5 class="text-xl font-semibold mb-2">Get Matched to a Replacement</h5>
				<p>We’ll recommend the best-fit model for your home — along with a clear price range (like $1,475–$1,900) so you know exactly what to expect.</p>
			</div>
            <ArrowDownIcon class="h-8 w-full text-primary" />
			<div class="card shadow-md border border-base-300 bg-base-100 p-6">

                <h4 class="text-3xl font-bold text-primary mb-4">Step 3</h4>
                <h5 class="text-xl font-semibold mb-2">Confirm Your Price with a Quick Video Call <span class="text-xl font-normal">(optional, but required for a final quote)</span></h5>
				<p class="mb-2">We just need a quick look at your current water heater (venting, gas, water, and electrical) to confirm your final price (like $1,625). We’ll also answer any questions you have.
                <p><span class="font-bold">NOTE: </span>This is not a sales pitch. No pressure. No upsells.</p>
			</div>
            <ArrowDownIcon class="h-8 w-full text-primary" />
			<div class="card shadow-md border border-base-300 bg-base-100 p-6">
				<h4 class="text-3xl font-bold text-primary mb-4">Step 4</h4>
				<h5 class="text-xl font-semibold mb-2">Book Your Installation</h5>
				<p class="mb-2">Book online or give us a call — most installs happen the next day.</p>
                <p>If you skipped the video call, we’ll confirm the exact price on-site (within the original range) before we begin.</p>
			</div>
            <ArrowDownIcon class="h-8 w-full animate-bounce text-primary" />
		</div>
            <a href="/pricing/" class="btn btn-primary text-lg w-full max-w-xs py-2 mx-auto">
                <MagnifyingGlass />
                <p class="w-full">Find My Replacement</p>
            </a>
	</div>
</section>