---
import ArrowDownIcon from './icons/ArrowDown.astro';
import PriceReceipt from './icons/PriceReceipt.astro';
import UserCheck from './icons/UserCheck.astro';
import MagnifyingGlass from './icons/MagnifyingGlass.astro';
---
<section id="how-it-works" class="py-20 px-6 text-base-content text-center">
	<div class="max-w-4xl mx-auto">
		<h2 class="text-4xl sm:text-5xl font-bold ">How It Works</h2>
		<h3 class="text-2xl sm:text-3xl mb-12">4 Easy Steps</h3>
		<div class="grid gap-0 text-left">
			<div class="card bg-base-200 border-1 border-base-300 p-6">
				<h4 class="text-3xl font-bold text-primary mb-4">Step 1</h4>
				<h5 class="text-xl font-semibold mb-2">Tell Us About Your Setup</h5>
				<p class="mb-2">Answer simple questions about your current water heater and hot water needs.</p>
                <p>We don’t store your answers — it’s just to help guide your match.</p>
			</div>
            <ArrowDownIcon class="h-8 w-full text-primary -mt-1 mb-2" />
			<div class="card bg-base-200 border-1 border-base-300 p-6">
				<h4 class="text-3xl font-bold text-primary mb-4">Step 2</h4>
				<h5 class="text-xl font-semibold mb-2">Get A Fixed Price Range For A Replacement</h5>
				<p>We’ll recommend the best-fit model for your home — along with a fixed price range (like $1,475–$1,900) so you know exactly what to expect.</p>
			</div>
            <ArrowDownIcon class="h-8 w-full text-primary -mt-1 mb-2" />
			<div class="card bg-base-200 border-1 border-base-300 p-6">
                <h4 class="text-3xl font-bold text-primary mb-4">Step 3</h4>
                <h5 class="text-xl font-semibold mb-2">Confirm Your Setup with a Photo or Quick Video Call</h5>
				<p class="mb-2">To finalize your quote, we just need a quick look at your current water heater setup — including venting, gas, water, and electrical connections. You can either send us photos or hop on a short video call — whichever is easiest for you.
                <span class="font-bold">NOTE: </span>No pressure. No sales pitch. Just a quick check to confirm details and answer your questions.
			</p>
			</div>
            <ArrowDownIcon class="h-8 w-full text-primary -mt-1 mb-2" />
			<div class="card bg-base-200 border-1 border-base-300 p-6">
				<h4 class="text-3xl font-bold text-primary mb-4">Step 4</h4>
				<h5 class="text-xl font-semibold mb-2">Book Your Installation</h5>
				<p class="mb-2">Book online or give us a call — most installs happen the next day.</p>
                <p>If you skipped the video call, we’ll confirm the exact price on-site (guaranteed to be within the original range) before we begin.</p>
			</div>
            <ArrowDownIcon class="h-8 w-full animate-bounce text-primary mt-2" />
		</div>
            <a href="/" class="btn btn-primary text-lg w-full max-w-xs py-2 mx-auto">
                <PriceReceipt />
                <p class="">Get My Instant Quote</p>
            </a>
	</div>
</section>