---
import ThemeSelector from './ThemeSelector.astro';
import logoIcon from '../assets/images/whrc-logo-icon.png';
import logoText from '../assets/images/whrc-logo-text.png';
import fullLogo from '../assets/images/logo-full-whrc.png';
import CalendarClock from './icons/CalendarClock.astro';
import PriceReceipt from './icons/PriceReceipt.astro';

const { showNavigation = true } = Astro.props;
---

<div class="fixed top-0 left-0 w-full z-50 navbar bg-base-100 shadow-sm">
    <div class="sm:navbar-start w-100">
        <a class="px-0 w-fit navbar-start btn btn-ghost z-51"
            aria-label="Home | Water Heater Replacement Company of Grand Rapids"
            href="/">
            <img src={fullLogo.src}
                alt="Water Heater Replacement Company of Grand Rapids Logo"
                class="h-12 object-contain" />
        </a>
    </div>
    <div class="navbar-end">
        {showNavigation && (
                <div class="navbar-center hidden lg:flex justify-between">
                    <ul class="menu menu-horizontal px-1 mr-4">
                        <li>
                            <a aria-label="How It Works" href="/instant-quote/?step=1">Instant Quote</a>
                        </li>
                        <li>
                            <a aria-label="pricing" href="/pricing/">Pricing</a>
                        </li>
                        <li>
                            <details id="desktop-products-menu">
                                <summary>Products</summary>
                                <ul class="p-2 w-64 top-6">
                                    <li><a aria-label="Tank Water Heaters" href="/products/tank-water-heaters/">Standard Tank Water Heaters</a></li>
                                    <li><a aria-label="Power Vent Water Heaters" href="/products/power-vent-water-heaters/">Power Vent Water Heaters</a></li>
                                    <li><a aria-label="Tankless Water Heaters" href="/products/tankless-water-heaters/">Tankless Water Heaters</a></li>
                                    <li><a aria-label="Heat Pump Water Heaters" href="/products/heat-pump-water-heaters/">Heat Pump Water Heaters</a></li>
                                </ul>
                            </details>
                        </li>
                    </ul>
                </div>
                <a class="lg:mr-4 font-semibold w-7 h-7 flex items-center justify-center rounded-sm text-primary"
                    href='tel:5558675309'
                    aria-label='Click to call the Water Heater Replacement Company of Grand Rapids at 555-867-5309'>
                    <svg class="w-8 h-8 fill-current"
                        viewBox="3 3 18 18"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="m17.38 10.79-2.2-2.2c-.28-.28-.36-.67-.25-1.02.37-1.12.57-2.32.57-3.57 0-.55.45-1 1-1H20c.55 0 1 .45 1 1 0 9.39-7.61 17-17 17-.55 0-1-.45-1-1v-3.49c0-.55.45-1 1-1 1.24 0 2.45-.2 3.57-.57.35-.12.75-.03 1.02.24l2.2 2.2c2.83-1.45 5.15-3.76 6.59-6.59z"></path>
                    </svg>
                </a>
                <div class="ml-4 hidden lg:block">
                    <a aria-label="instant quote" href="/instant-quote/?step=1" class="btn btn-primary w-40 h-12">
                        <PriceReceipt />
                        Instant Quote
                    </a>
                </div>
        )}

        <div class="dropdown">
            {showNavigation && (
                <div aria-label="dropdown button" tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </div>
                <ul
                    tabindex="0"
                    class="menu menu-sm right-1 dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
                >
                    {/* <li>
                            <a aria-label="How It Works" href="/#how-it-works">How It Works</a>
                    </li>
                    <li>
                        <a aria-label="Why trust us" href="/#why-trust-us">Why Trust Us</a>
                    </li> */}
                    <li>
                        <a aria-label="about" aria-disabled="true" href="/pricing/">Pricing</a>
                    </li>
                    <li>
                        <p class="pointer-events-none" aria-label="parent">Products</p>
                        <ul class="p-2">
                            <li>
                                <a aria-label="Tank Water Heaters" href="/products/tank-water-heaters/">Standard Tank Water Heaters</a>
                            </li>
                            <li>
                                <a aria-label="Power Vent Water Heaters" href="/products/power-vent-water-heaters/">Power Vent Water Heaters</a>
                            </li>
                            <li>
                                <a aria-label="Tankless Water Heaters" href="/products/tankless-water-heaters/">Tankless Water Heaters</a>
                            </li>
                            <li>
                                <a aria-label="Heat Pump Water Heaters" href="/products/heat-pump-water-heaters/">Heat Pump Water Heaters</a>
                            </li>
                        </ul>
                    </li>
                    <div class="mt-2 lg:hidden w-full">
                        <a aria-label="w-full mx-auto instant quote" href="/instant-quote/?step=1" class="btn btn-primary w-40 h-12">
                            <PriceReceipt />
                            Instant Quote
                        </a>
                    </div>

                </ul>
            )}
        </div>
    </div>


<script>
    document.addEventListener('click', function(event) {
        const details = document.getElementById('desktop-products-menu') as HTMLDetailsElement;
        if (!details) return;
        if (details.open && !details.contains(event.target as Node)) {
            details.open = false;
        }
    });
</script>
